@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
	
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root {
	--primary-color: #71ff13;
	--text-color: #af8d8d;
}
html {
	font-size: 12px;
}
body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: rgb(255, 255, 255);
	display: grid;
    height: 100vh;
    place-items:center;
    background: #2b0335;
}

/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: rgb(54, 31, 31);
}
.description {
	margin-top: 1rem;
	font-size: 2.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title{
	
	text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #b709d6;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: rgb(141, 10, 10);
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #070707;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.group-3 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg {
	max-width: 250px;
}
.profile_name_firstName {
	color: white;
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 2.5rem;
	font-weight: 1000;
	text-transform: uppercase;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
	.container_s{

flex-direction: column;
	}
	.container_ss{
		flex-direction: column;
	}
}

/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* awards */
.awards_item {
	margin-top: 2rem;
}
/* Interests */
.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}
.interest_item svg {
	width: 2rem;
}

/* socials */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}

tr:nth-child(even) {
	background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
	background-color: rgba(150, 212, 212, 0.4);
  }
.container_ss{
	text-align: center;
	text-size-adjust: 1000px;
}

.containers{
	width: 100%;
	max-width: 650px;
	background:  rgba(8, 40, 40, 0.4);
	padding: 28px;
	margin: 0 28px;
	border-radius: 10px;
	box-shadow: inset -2px 2px 2px white;
}
.from-tittle{
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-bottom: 6px;
	color: azure;
	text-shadow: #070707;
	border-bottom: solid 1px white;
}
.main-user-info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}
.user-input-box:nth-child(2){
	justify-content: end;
}
.user-input-box{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	padding-bottom: 20px;
}
.gender-title{
	color: aliceblue;
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid white;

}
.gender_category{
	margin:15px 0;
	color: aqua;
}
.gender_category lebel{
	padding: 0 20px 0 5px;


}
.gender_category label,
.gender_category input,
.from-submit-btn input{
	cursor: pointer;
}
.from-submit-btn{
	margin-top: 40px;
}
.from-submit-btn input{
	display: block;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background: rgb(255, 255, 0.5);

}
.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}
@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

	.user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
.titlee:hover{
	
	font-weight: 900;
	font-size: 2rem;
	text-transform: uppercase;
	word-wrap: 100;
}